<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <style>
        .products{
            list-style-type: none;
            text-align: center;
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>Product_List_Page</h1>
    <div class="product_list">
        <ul class="products">
            {% for product in products %}
                <li>
                    <div class="image">
                        <figure>
                            <img src="{{ product.src }}">
                        </figure>
                        <span class="summary"></span>
                        <span class="name">{{ product.name }}</span>
                    </div>
                    <p class="price">
                        <span class="price-normal">
                            <strong>{{ product.price }}</strong>원
                        </span>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>